*.yy
**/*.yy
**/*.ini
*.yyp
*.resource_order
**/*.png
project_full_report.md
datafiles/data/.~lock.UnitTypes.csv\#
/grafiki_future
pomysły
pomysły.md
datafiles/data/.~lock.UnitTypes2.csv\#
datafiles/data/.~lock.UnitTypes2.csv\#
